input.prod_search
{
/*  border: 1px solid #00389F; */
/*  height: 20px; */
/*  line-height: 18px; */
/*  font-size: 12px; */
  border: 1px solid #00389F;
  background-color: #F3F5FA;
/*  width: 144px; */
  height: 16px;
  font-size: 12px;
  padding-top: 2px;

}